
    <style>
         * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #frm{
      text-align: center;
      border: 2px solid black;
      margin: 50px auto;
      padding: 30px;
      width: 400px;
      border-radius: 8px;
    }

    label {
      display: block;
      margin: 15px 0 5px;
      font-weight: bold;
    }

    input, textarea {
      width: 90%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      margin-top: 15px;
      padding: 10px 20px;
      background: black;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: darkgray;
    }


    </style>

    {{>headers}}
    <section id="content">
    <div id="frm"   >
 
        <form action="/admin/addcustomerpost" method="post" >

        <label for="name">Customer_Name:
            <input type="text" name="name" >
        </label>
        <label for="email">Customer_Email:
            <input type="text" name="email">
        </label>
        <label for="phone">Customer_PhoneNo:
            <input type="text" name="phone" >
        </label>
        <label for="address">
            <textarea    name="address" id="" cols="20" rows="4" ></textarea>
        </label>

       <button type="submit" id="submitBtn">Add</button>

        </form>


    </div>
    </section>
<script>
   const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

// highlight based on current URL
allSideMenu.forEach(item => {
  const li = item.parentElement;

  if (item.getAttribute("href") === window.location.pathname) {

    li.classList.add("active");
  } else {
    li.classList.remove("active");
  }
});

// also handle click (so it updates immediately without reload)
allSideMenu.forEach(item => {
  const li = item.parentElement;
  item.addEventListener('click', function () {
    allSideMenu.forEach(i => {
      i.parentElement.classList.remove('active');
    });
    li.classList.add('active');
  });
});