
    {{>headers}}
    

   <section id="content">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex  nav-links">
                <a href="#ProductDeatils">ProductDeatils</a>
                  <a href="#OrderDetails">OrderDeatils</a>
                   <a href="#Address">Address</a>
            </div>
        </div>

        <div class="row">

            {{singleorder}}
   <table class="table table--striped text-center">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
   </table>

        </div>

    </div>
   </section>
